[submodule "post-site"]
	path = post-site
	url = https://github.com/fedegallar/post-site.git
[submodule "user-api"]
	path = user-api
	url = https://github.com/fedegallar/user-api.git
[submodule "post-api"]
	path = post-api
	url = https://github.com/fedegallar/post-api.git
